.vector-graphics {
    animation: vectorAnimation 1s infinite ease-in-out alternate;

}

.brands>svg {
    transition: all .2s ease-in-out;
}

.brands>svg:hover {
    color: yellow;
    cursor: pointer;
    font-size: 3rem;
}

@keyframes vectorAnimation {
    to {
        transform: translateY(-10px);
    }
}